* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f8fc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #0c1c3c;
  padding: 15px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content-section {
  flex: 1;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: #e6ecf7;
  border-radius: 8px;
}

h2 {
  color: #0c1c3c;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.project {
  background-color: #ffffff;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-left: 5px solid #0c1c3c;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  border-radius: 5px;
}

h3 {
  color: #0c1c3c;
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
  list-style: disc;
}

p {
  margin-bottom: 10px;
  font-size: 15px;
}
.project-img {
  width: 100%;
  max-width: 500px;
  height: 50%;
  margin-bottom: 1em;
  border-radius: 5px;
}
.project a {
  display: inline-block;
  margin-top: 10px;
  color: #004080;
  text-decoration: none;
  font-weight: bold;
}
/* Footer */
footer {
  background-color: #0c1c3c;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  margin-top: auto;
}
